<div class="container-fluid">

  <!-- Header -->
  <app-header></app-header>

  <!-- Banner -->
  <div class="row">
    <div class="position-relative px-0" id="banner-immobilier">
      <img src="/assets/images/beton-banner.png" class="img-fluid d-block w-100 h-100" alt="">
      <div class="fond-noir"></div>
      <div class="d-flex justify-content-center align-items-center" id="description-banner-immobilier">
        <div class="px-5">
          <div class="d-flex justify-content-center">
            <img src="/assets/images/immobilier-logo.png" class="img-fluid largeur-20 mx-auto" alt="">
          </div>
          <p class="fs-36 text-white text-center mt-4" >Explorez Nos Offres Immobilières</p>
          <p class="fs-24 text-white text-center mt-4">Nous sommes heureux de vous présenter nos projets immobiliers conçus pour répondre à vos
            attentes. Pour plus d’informations ,veuillez nous contacter.</p>
        </div>

      </div>
    </div>
  </div>

  <!--  -->
  <!-- <div class="row justify-content-center" style="background-color: #08263F;">
    <div class="row p-5">
      <p class="fs-48 fw-gras text-white">NOS PROJETS</p>
      <p class="fs-20 fw-500 text-white"> Découvrez notre sélection de projets immobiliers conçus pour répondre aux besoins diversifiés de nos clients. Que
        vous cherchiez une résidence moderne ou un espace commercial innovant, chaque projet reflète notre engagement
        envers la qualité et l'innovation. Parcourez nos réalisations et trouvez le projet qui correspond parfaitement à vos
        aspirations.
      </p>
    </div>
    <div class="row p-5">
      <div class="col-md-4">
        <img src="/assets/images/btp-immeuble.png" class="img-fluid" alt="">
      </div>
      <div class="col-md-8">
        <p class="fs-36 fw-900 text-white text-uppercase">Projet 1</p>
        <p class="fs-18 fw-500 text-white">Plongez dans un cadre exceptionnel avec Projet 1, où design moderne et fonctionnalité se rencontrent. Ce projet
          incarne l'élégance et le confort, offrant des espaces de vie optimisés pour une expérience unique.
        </p>
        <a class="btn fs-24 fw-900 text-white border-white text-uppercase w-50" href="">En savoir plus</a>
      </div>
    </div>
    <div class="row p-5">
      <div class="col-md-4">
        <img src="/assets/images/btp-immeuble.png" class="img-fluid" alt="">
      </div>
      <div class="col-md-8">
        <p class="fs-36 fw-900 text-white text-uppercase">Projet 2</p>
        <p class="fs-18 fw-500 text-white">Projet 2 vous invite à explorer un concept novateur, alliant style contemporain et matériaux de qualité. Ce projet est
          idéal pour ceux qui recherchent un cadre de vie dynamique et raffiné.
        </p>
        <a class="btn fs-24 fw-900 text-white border-white text-uppercase w-50" href="">En savoir plus</a>
      </div>
    </div>
    <div class="row p-5">
      <div class="col-md-4">
        <img src="/assets/images/btp-immeuble.png" class="img-fluid" alt="">
      </div>
      <div class="col-md-8">
        <p class="fs-36 fw-900 text-white text-uppercase">Projet 3</p>
        <p class="fs-18 fw-500 text-white">Avec Projet 3, découvrez un équilibre parfait entre espace, confort et esthétique. Conçu pour répondre aux plus hauts
          standards, ce projet est une opportunité rare à ne pas manquer.
        </p>
        <a class="btn fs-24 fw-900 text-white border-white text-uppercase w-50" href="">En savoir plus</a>
      </div>
    </div>
  </div> -->

  <!-- Footer -->
  <app-footer></app-footer>
</div>
