<div class="container-fluid">
  <!-- Header -->
  <app-header></app-header>

  <!-- Banner -->
  <div class="row">
    <div class="position-relative px-0" id="banner-btp">
      <img src="/assets/images/btp-banner.png" class="img-fluid d-block h-100 w-100" alt="">
      <div class="fond-noir"></div>
      <div class="d-flex justify-content-center align-items-center" id="description-banner-btp">
        <div class="">
          <div class="d-flex justify-content-center">
            <img src="/assets/images/btp-logo.png" class="img-fluid mx-auto" alt="">
          </div>
          <p class="fs-36 text-white text-center mt-4" >Bâtiments et Travaux Publics</p>
          <p class="fs-24 text-white text-center mt-4">Construisons ensemble l'avenir de vos projets.</p>
        </div>

      </div>
    </div>
  </div>

  <!-- Gallerie -->
  <div class="row margin-row">
    <div class="row justify-content-center align-items-center p-2">
      <div class="position-relative largeur-90 hauteur-50 p-2">
        <div class="btp-grand-rectangle">
          <p class="fs-36 fw-900 text-bleu">Consultation et Conception</p>
          <p class="fw-600 text-bleu w-75">Nous transformons vos idées en réalité.
            <br>Notre équipe d'experts en construction et en technologie travaille main dans la main avec
            vous pour concevoir des solutions personnalisées qui répondent parfaitement à vos
            besoins et surpassent vos attentes.</p>
        </div>
        <div class="btp-rectangle-image d-none d-md-block">
          <div class="d-flex justify-content-end">
            <img src="/assets/images/btp-consultation.png" class="img-fluid largeur-90 h-100" alt="">
          </div>
        </div>
        <div class="btp-cercle-icone">
          <img src="/assets/images/btp-recherche.png" class="img-fluid w-75" alt="">
        </div>
      </div>
    </div>
    <div class="row justify-content-center align-items-center p-2 mt-5">
      <div class="position-relative largeur-90 hauteur-50 p-2">
        <div class="btp-grand-rectangle">
          <p class="fs-36 fw-900 text-bleu">Installation et Intégration</p>
          <p class="fw-600 text-bleu w-75">Installation sans faille, performance optimale.
            <br>Nous garantissons une installation professionnelle et une intégration fluide de toutes les
            technologies. Votre bâtiment fonctionne à pleine capacité dès le premier jour grâce à notre
            savoir-faire et notre rigueur.</p>
        </div>
        <div class="btp-rectangle-image d-none d-md-block">
          <div class="d-flex justify-content-end">
            <img src="/assets/images/btp-maintenance.png" class="img-fluid largeur-90" alt="">
          </div>
        </div>
        <div class="btp-cercle-icone">
          <img src="/assets/images/btp-batiment-orange.png" class="img-fluid w-75" alt="">
        </div>
      </div>
    </div>
    <div class="row justify-content-center align-items-center p-2 mt-5">
      <div class="position-relative largeur-90 hauteur-50 p-2">
        <div class="btp-grand-rectangle">
          <p class="fs-36 fw-900 text-bleu">Maintenance et accompagnement</p>
          <p class="fw-600 text-bleu w-75">Votre satisfaction, notre priorité.
            <br>Notre engagement ne s'arrête pas à la livraison. Nous offrons un support continu et des
            services de maintenance proactifs pour assurer la durabilité et la performance à long
            terme de votre bâtiment intelligent.</p>
        </div>
        <div class="btp-rectangle-image d-none d-md-block">
          <div class="d-flex justify-content-end">
            <img src="/assets/images/btp-installation.png" class="img-fluid largeur-90" alt="">
          </div>
        </div>
        <div class="btp-cercle-icone">
          <img src="/assets/images/btp-batiment-bleu.png" class="img-fluid w-75" alt="">
        </div>
      </div>
    </div>
  </div>

  <!--  -->
  <div class="row margin-row px-5">
    <div class="row">
      <p class="fs-24 fw-600 text-bleu text-center">Chez EST, nous sommes passionnés par la création de solutions de construction innovantes et
        de haute qualité. Nous nous engageons à répondre aux besoins spécifiques de nos clients
        dans le domaine des bâtiments et des travaux publics. Avec notre expertise inégalée et notre
        dévouement à l'excellence, nous adoptons une approche centrée sur le client pour vous
        accompagner à chaque étape de votre projet de la conception à la livraison.</p>
    </div>
    <div class="row flex-wrap px-2 px-md-5">
      <div class="col-6 col-md-4 p-2">
        <div class="d-flex justify-content-center align-items-center position-relative">
          <img src="/assets/images/btp-immeuble.png" alt="" class="img-fluid">
        </div>
      </div>
      <div class="col-6 col-md-4 p-2">
        <div class="d-flex justify-content-center align-items-center position-relative">
          <img src="/assets/images/btp-immeuble.png" alt="" class="img-fluid">
          <div class="fond-orange"></div>
        </div>
      </div>
      <div class="col-6 col-md-4 p-2">
        <div class="d-flex justify-content-center align-items-center position-relative">
          <img src="/assets/images/btp-immeuble.png" alt="" class="img-fluid">
          <div class="fond-bleu"></div>
        </div>
      </div>
      <div class="col-6 col-md-4 p-2">
        <div class="d-flex justify-content-center align-items-center position-relative">
          <img src="/assets/images/btp-immeuble.png" alt="" class="img-fluid">
        </div>
      </div>
      <div class="col-6 col-md-4 p-2">
        <div class="d-flex justify-content-center align-items-center position-relative">
          <img src="/assets/images/btp-immeuble.png" alt="" class="img-fluid">
          <div class="fond-orange"></div>
        </div>
      </div>
      <div class="col-6 col-md-4 p-2">
        <div class="d-flex justify-content-center align-items-center position-relative">
          <img src="/assets/images/btp-immeuble.png" alt="" class="img-fluid">
          <div class="fond-bleu"></div>
        </div>
      </div>
    </div>
  </div>

  <!--  -->
  <div class="row margin-row">

  </div>

  <!-- Footer -->
   <app-footer></app-footer>
</div>
