<div class="container-fluid">

  <!-- Header -->
  <app-header></app-header>

  <!--  -->
  <div class="row justify-content-center banner-row margin-row align-items-center justify-content-ceter px-5">
    <div class="">
      <p class="fs-48 fw-gras text-bleu text-center text-uppercase">cONTACTEZ-NOUS</p>
    </div>
  </div>

  <!--  -->
  <div class="row justify-content-center px-5">
    <div class="col-md-6 col-lg-5 col-xl-4">
      <div class="bg-bleu-fonce rounded-4 px-2 py-4">
        <form action="">
          <div class="d-flex align-items-center justify-content-between px-2 pb-3">
            <label for="prenoms" class="text-white me-5">Prénoms</label>
            <input type="text" class="form-control btn-sm largeur-60" name="prenoms" id="prenoms" required>
          </div>
          <div class="d-flex align-items-center justify-content-between px-2 pb-3">
            <label for="nom" class="text-white me-5">Nom</label>
            <input type="text" class="form-control btn-sm largeur-60" name="nom" id="nom" required>
          </div>
          <div class="d-flex align-items-center justify-content-between px-2 pb-3">
            <label for="email" class="text-white me-5">Email</label>
            <input type="email" class="form-control btn-sm largeur-60" name="email" id="email" required>
          </div>
          <div class="d-flex align-items-center justify-content-between px-2 pb-3">
            <label for="telephone" class="text-white me-5">Téléphone</label>
            <input type="text" class="form-control btn-sm largeur-60" name="telephone" id="telephone" required>
          </div>
          <div class="d-flex align-items-center justify-content-between px-2 pb-3">
            <label for="adresse" class="text-white me-5">Adresse</label>
            <input type="text" class="form-control btn-sm largeur-60" name="adresse" id="adresse" required>
          </div>
          <div class="d-flex align-items-center justify-content-between px-2 pb-3">
            <label for="message" class="text-white me-5">Message</label>
            <textarea class="form-control btn-sm largeur-60" name="message" id="message" required></textarea>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex">
              <input type="checkbox" name="accepter" id="accepter">
              &nbsp;
              <label for="accepter" class="text-white">I agree to the <span class="text-orange">Term and Condition</span></label>
            </div>
            <button type="submit" class="btn btn-primary rounded">Envoyer</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-6 col-lg-7 col-xl-8 mt-3 mt-md-0">
      <div class="d-flex align-items-center justify-content-center h-100">
        <div class="">
          <div class="">
            <i class="fas fa-regular fa-phone fs-24 text-orange"></i>
            <span>&nbsp;&nbsp;</span>
            <span class="fs-24 text-bleu">+221 33 821 08 64</span>
          </div>
          <div class="">
            <i class="fa-solid fa-envelope fs-24 text-orange"></i>
            <span>&nbsp;&nbsp;</span>
            <span class="fs-24 text-bleu">stechnobat&#64;gmail.com</span>
          </div>
          <div class="">
            <i class="fa-solid fa-location-dot fs-24 text-orange"></i>
            <span>&nbsp;&nbsp;</span>
            <span class="fs-24 text-bleu">Yoff, Rond point Mamadou DIOP</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  -->
  <div class="row margin-row">
    <div class="ratio ratio-21x9 hauteur-60">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15438.253093642677!2d-17.4494905!3d14.6807085!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xec1731c4313fdc9%3A0x63f7b3ff95694fae!2sENTREPRISE%20SARRE%20TECHNOBAT%20Avenue%20Blaise%20Diagne%20Dakar%20S%C3%A9n%C3%A9gal!5e0!3m2!1sfr!2ssn!4v1726344970809!5m2!1sfr!2ssn" allowfullscreen></iframe>
    </div>
  </div>

  <!-- Footer -->
  <app-footer></app-footer>
</div>
