

@media (max-width: 767px) {
  .carre-service {
    position: absolute !important;
    width: 100%;
    height: 80%;
    bottom: 0%;
    background-color: #F0F1F1;
    overflow: hidden;
  }

  .cercle-service {
    position: absolute;
    width: 30%;
    left: 35%;
    top: 0%;
  }

  .carre-service-texte {
    margin-top: 20%;
    width: 100%;
    overflow-wrap: break-word;
    word-break: break-word;
  }

  .rectangle-service {
    position: absolute !important;
    height: 90%;
    bottom: 0%;
  }

  .cercle-service-2-gauche {
    position: absolute;
    left: 20%;
    top: 0%;
  }

  .cercle-service-2-droite {
    position: absolute;
    right: 20%;
    top: 0%;
  }

  .hauteur-carre-service {
    height: 40vh;
  }

  .hauteur-rectangle-service {
    height: 30vh;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .carre-service {
    position: absolute !important;
    width: 100%;
    height: 85%;
    bottom: 0%;
    background-color: #F0F1F1;
    overflow: hidden;
  }

  .cercle-service {
    position: absolute;
    width: 36%;
    left: 32%;
    top: 0%;
  }

  .carre-service-texte {
    margin-top: 20%;
    width: 100%;
    padding: 5% ;
    overflow-wrap: break-word;
    word-break: break-word;
  }

  .rectangle-service {
    position: absolute !important;
    height: 90%;
    bottom: 0%;
  }

  .cercle-service-2-gauche {
    position: absolute;
    left: 20%;
    top: 0%;
  }

  .cercle-service-2-droite {
    position: absolute;
    right: 20%;
    top: 0%;
  }

  .hauteur-carre-service {
    height: 40vh;
  }

  .hauteur-rectangle-service {
    height: 80%;
  }
}

@media (min-width: 1024px) {
  .carre-service {
    position: absolute !important;
    width: 100%;
    height: 80%;
    bottom: 0%;
    background-color: #F0F1F1;
    overflow: hidden;
  }

  .cercle-service {
    position: absolute;
    width: 36%;
    left: 32%;
    top: 0%;
  }

  .carre-service-texte {
    margin-top: 20%;
    width: 100%;
    padding: 5% ;
    overflow-wrap: break-word;
    word-break: break-word;
  }

  .rectangle-service {
    position: absolute !important;
    height: 90%;
    bottom: 0;
  }

  .cercle-service-2-gauche {
    position: absolute;
    left: 20%;
    top: 0%;
  }

  .cercle-service-2-droite {
    position: absolute;
    right: 20%;
    top: 0%;
  }

  .hauteur-carre-service {
    height: 50vh;
  }

  .hauteur-rectangle-service {
    height: 90%;
  }

  .hauteur-block-rectangle {
    height: 50vh;
  }
}
