<div class="container-fluid">

  <!-- Header -->
  <app-header></app-header>

  <div class="row banner-row margin-row align-items-center justify-content-center px-md-5">
    <div class="">
      <p class="fs-48 fw-gras text-bleu text-center text-uppercase">Nos Services</p>
      <p class="fs-24 fw-600 text-bleu text-center">Chez EST, nous proposons une gamme complète de services pour vous accompagner à chaque étape de votre projet de
        construction. Notre expertise s'étend des bâtiments et travaux publics à la production de béton de qualité supérieure,
        en passant par des promotions immobilières attractives. Découvrez comment nous pouvons transformer vos idées en
        réalisations concrètes grâce à nos solutions sur mesure.</p>
    </div>
  </div>

  <!--  -->
  <div class="row mt-5">
    <div class="row px-5">
      <div class="col-md-4 px-2">
        <div class="d-flex justify-content-center">
          <div class="largeur-90">
            <a routerLink="/services/btp">
              <div class="position-relative hauteur-carre-service">
                <div class="carre-service d-flex rounded-3">
                  <div class="d-flex carre-service-texte">
                    <p class="fs-36 fw-600 text-bleu text-center"> BÂTIMENTS ET TRAVAUX PUBLICS</p>
                  </div>
                  </div>
                <div class="cercle-service">
                  <img src="/assets/images/btp-recherche.png" class="img-fluid" alt="">
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 px-2 my-5 my-md-0">
        <div class="d-flex justify-content-center">
          <div class="largeur-90">
            <a routerLink="/services/beton">
              <div class="position-relative hauteur-carre-service">
                <div class="carre-service d-flex rounded-3">
                  <div class="d-flex carre-service-texte">
                    <p class="fs-36 fw-600 text-bleu text-center">CENTRALE DE PRODUCTION DE BÉTON</p>
                  </div>
                </div>
                <div class="cercle-service">
                  <img src="/assets/images/btp-recherche.png" class="img-fluid" alt="">
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 px-2">
        <div class="d-flex justify-content-center">
          <div class="largeur-90">
            <a routerLink="/services/immobilier">
              <div class="position-relative hauteur-carre-service">
                <div class="carre-service d-flex rounded-3">
                  <div class="d-flex carre-service-texte">
                    <p class="fs-36 fw-600 text-bleu text-center">PROMOTIONS IMMOBILIÈRES</p>
                  </div>
                </div>
                <div class="cercle-service">
                  <img src="/assets/images/btp-recherche.png" class="img-fluid" alt="">
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  -->
  <!-- <div class="row margin-row">
    <div class="row">

    </div>
    <div class="row">
      <div class="d-flex justify-content-center">
        <p class="fs-48 fw-gras text-bleu text-uppercase">NoTRE PROCESS</p>
      </div>
    </div>
    <div class="row px-5">
      <div class="col-2">
        <div class="d-flex justify-content-center">
          <div class="largeur-80">
            <img src="/assets/images/request-call.png" class="img-fluid" alt="">
            <div class="my-3"></div>
            <p class="fs-18 text-uppercase text-center">Request call</p>
            <p class="fs-12 text-center opacity-75">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="d-flex justify-content-center">
          <div class="largeur-80">
            <img src="/assets/images/consultation.png" class="img-fluid" alt="">
            <div class="my-3"></div>
            <p class="fs-18 text-uppercase text-center">Consultation</p>
            <p class="fs-12 text-center opacity-75">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="d-flex justify-content-center">
          <div class="largeur-80">
            <img src="/assets/images/planning.png" class="img-fluid" alt="">
            <div class="my-3"></div>
            <p class="fs-18 text-uppercase text-center">Planning</p>
            <p class="fs-12 text-center opacity-75">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="d-flex justify-content-center">
          <div class="largeur-80">
            <img src="/assets/images/work-process.png" class="img-fluid" alt="">
            <div class="my-3"></div>
            <p class="fs-18 text-uppercase text-center">Work process</p>
            <p class="fs-12 text-center opacity-75">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="d-flex justify-content-center">
          <div class="largeur-80">
            <img src="/assets/images/correcting.png" class="img-fluid" alt="">
            <div class="my-3"></div>
            <p class="fs-18 text-uppercase text-center">Correcting</p>
            <p class="fs-12 text-center opacity-75">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="d-flex justify-content-center">
          <div class="largeur-80">
            <img src="/assets/images/deliver.png" class="img-fluid" alt="">
            <div class="my-3"></div>
            <p class="fs-18 text-uppercase text-center">Deliver</p>
            <p class="fs-12 text-center opacity-75">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!--  -->
  <!-- <div class="row margin-row bg-bleu-fonce p-5">
    <div class="row py-xl-5">
      <div class="col-md-5">
        <div class="position-relative hauteur-rectangle-service">
          <div class="rectangle-service largeur-95">
            <img src="/assets/images/services-rectangle-bleu.png" class="img-fluid largeur-100 h-100" alt="">
          </div>
          <div class="cercle-service-2-gauche largeur-20">
            <img src="/assets/images/btp-batiment-bleu.png" class="img-fluid" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="d-flex align-items-center" style="height: 100%;">
          <div class="largeur-100">
            <p class="fs-24 text-white">lorem ispum</p>
            <p class="fs-16 text-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
              euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
              minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut ali
              <br><br>
              quip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
              vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at
              vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
              delenit augue duis dolore te feugait
            </p>
          </div>

        </div>
      </div>
    </div>
    <div class="row py-xl-5">
      <div class="col-md-7 order-2 order-md-1">
        <div class="d-flex align-items-center" style="height: 100%;">
          <div class="largeur-100">
            <p class="fs-24 text-white">lorem ispum</p>
            <p class="fs-16 text-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
              euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
              minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut ali
              <br><br>
              quip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
              vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at
              vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
              delenit augue duis dolore te feugait
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-5 order-1 order-md-2">
        <div class="position-relative hauteur-rectangle-service">
          <div class="rectangle-service largeur-95">
            <img src="/assets/images/services-rectangle-orange.png" class="img-fluid largeur-100 h-100" alt="">
          </div>
          <div class="cercle-service-2-droite largeur-20">
            <img src="/assets/images/service-maison.png" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="row py-xl-5">
      <div class="col-md-5">
        <div class="position-relative hauteur-rectangle-service">
          <div class="rectangle-service largeur-95">
            <img src="/assets/images/services-rectangle-orange.png" class="img-fluid largeur-100 h-100" alt="">
          </div>
          <div class="cercle-service-2-gauche largeur-20">
            <img src="/assets/images/service-batons.png" class="img-fluid" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="d-flex align-items-center" style="height: 100%;">
          <div class="largeur-100">
            <p class="fs-24 text-white">lorem ispum</p>
            <p class="fs-16 text-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
              euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
              minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut ali
              <br><br>
              quip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
              vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at
              vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
              delenit augue duis dolore te feugait
            </p>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="row margin-row">

  </div>

  <!-- Footer -->
  <app-footer></app-footer>

</div>
