<div class="container-fluid">

  <!-- Header -->
  <app-header></app-header>

  <!--  -->
  <div class="row margin-row align-items-center justify-content-center px-md-5">
    <div class="row margin-row justify-content-center">
      <div class="col-md-4 order-2 order-md-1">
        <div class="d-flex justify-content-end align-items-center h-100">
          <div class="largeur-100 me-md-5">
            <img src="/assets/images/apropos-carre.png" class="img-fluid largeur-100" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-8 order-1 order-md-2">
        <p class="fs-48 fw-gras text-orange text-uppercase">MOT DE LA DIRECTRICE</p>
        <p class="fs-24 fw-600 text-bleu">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
        </p>
      </div>
    </div>
  </div>

  <!--  -->
  <div class="row margin-row justify-content-center">
    <div class="row px-md-5 justify-content-center">
      <p class="fs-60 fw-gras text-orange text-uppercase text-center">MISSION</p>
      <p class="fs-48 fw-gras text-bleu text-uppercase text-center">Qui sommes nous ?</p>
      <p class="fs-24 fw-600 text-bleu text-uppercase">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
        dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
      </p>
      <p class="fs-24 fw-600 text-bleu">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat
        nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis
      </p>
      <div class="d-block d-md-flex mt-5">
        <div class="me-md-5">
          <img src="/assets/images/apropos-rectangle.png" class="img-fluid" alt="">
        </div>
        <div class="">
          <p class="fs-24 text-bleu">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet </p>
          <p class="fs-24 text-bleu">dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit</p>
          <p class="fs-24 text-bleu">  Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat</p>
          <p class="fs-24 text-bleu">  nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis</p>
        </div>
      </div>
    </div>
  </div>

  <!--  -->
  <div class="row margin-row">
    <div class="row px-md-5 justify-content-center">
      <p class="fs-60 fw-gras text-orange text-uppercase text-center">Vision</p>
      <!-- <img src="/assets/images/apropos-vision.png" class="img-fluid" alt=""> -->
    </div>
  </div>

  <!--  -->
  <div class="row margin-row justify-content-center">
    <div class="row justify-content-center px-md-5">
      <div class="row justify-content-center px-md-5">
        <p class="fs-60 fw-gras text-orange text-uppercase text-center">Valeurs</p>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-4 p-2">
          <img src="/assets/images/apropos-petit-rectangle.png" class="img-fluid" alt="">
        </div>
        <div class="col-md-4 p-2">
          <img src="/assets/images/apropos-petit-rectangle.png" class="img-fluid" alt="">
        </div>
        <div class="col-md-4 p-2">
          <img src="/assets/images/apropos-petit-rectangle.png" class="img-fluid" alt="">
        </div>
      </div>
      <div class="row py-2">
        <p class="fs-24 fw-500 text-bleu text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          <br>dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
        </p>
        <p class="fs-24 fw-500 text-bleu text-center">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat
          <br>nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis
        </p>
        <p class="fs-24 fw-500 text-bleu text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          <br>dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
        </p>
        <p class="fs-24 fw-500 text-bleu text-center">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat
          <br>nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis
        </p>
      </div>
    </div>
  </div>

  <!--  -->
  <div class="row justify-content-center margin-row py-5 px-md-5 bg-bleu-fonce">
    <div class="row justify-content-center">
      <p class="fs-20 fw-500 text-white text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
        laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullam-
        corper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit
        in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan
        et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
        Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
        laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullam-
        corper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>

  <!-- Footer -->
  <app-footer></app-footer>
</div>
