<div class="container-fluid">
  <!-- Header -->
  <app-header></app-header>

  <!--  -->
  <div class="row banner-row margin-row align-items-center justify-content-center px-md-5">
    <div class="">
      <p class="fs-48 fw-gras text-bleu text-center text-uppercase">Blog - Actu</p>
      <p class="fs-24 fw-600 text-bleu text-center">Plongez dans nos articles pour découvrir les innovations, les bonnes pratiques, et les histoires de réussite qui
        façonnent notre secteur. Que vous soyez un professionnel ou passionné, notre blog est une source d'information de
        référence.
      </p>
    </div>
  </div>

  <!--  -->
  <div class="row margin-row justify-content-center">
    <div class="row px-md-5 justify-content-center">
      <div class="col-md-4">
        <img src="/assets/images/blog-rectangle.png" class="img-fluid h-100" alt="">
      </div>
      <div class="col-md-8 mt-4 mt-md-0">
        <p class="fs-20 fw-semigras text-bleu">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet </p>
        <p class="fs-20 fw-semigras text-bleu">dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit </p>
        <p class="fs-20 fw-semigras text-bleu">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat </p>
        <p class="fs-20 fw-semigras text-bleu">nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis  </p>
      </div>
    </div>
  </div>

  <!--  -->
  <div class="row margin-row">
    <div class="row px-md-5">
      <div class="row">
        <div class="col-md-4 col-lg-3 p-2">
          <img src="/assets/images/blog-rectangle.png" class="img-fluid" alt="">
        </div>
        <div class="col-md-4 col-lg-3 p-2">
          <img src="/assets/images/blog-rectangle.png" class="img-fluid" alt="">
        </div>
        <div class="col-md-4 col-lg-3 p-2">
          <img src="/assets/images/blog-rectangle.png" class="img-fluid" alt="">
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-12 col-lg-9">
          <p class="fs-24 fw-semigras text-bleu">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet </p>
          <p class="fs-24 fw-semigras text-bleu">dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit </p>
          <p class="fs-24 fw-semigras text-bleu">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat </p>
          <p class="fs-24 fw-semigras text-bleu">nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis  </p>
        </div>
      </div>
    </div>
  </div>

  <!--  -->
  <div class="row margin-row justify-content-center">
    <div class="row px-md-5 justify-content-center">
      <div class="row flex-wrap justify-content-center">
        <div class="col-6 col-md-4 p-2">
          <img src="/assets/images/blog-rectangle.png" class="img-fluid" alt="">
        </div>
        <div class="col-6 col-md-4 p-2">
          <img src="/assets/images/blog-rectangle.png" class="img-fluid" alt="">
        </div>
        <div class="col-6 col-md-4 p-2">
          <img src="/assets/images/blog-rectangle.png" class="img-fluid" alt="">
        </div>
        <div class="col-6 col-md-4 p-2">
          <img src="/assets/images/blog-rectangle.png" class="img-fluid" alt="">
        </div>
        <div class="col-6 col-md-4 p-2">
          <img src="/assets/images/blog-rectangle.png" class="img-fluid" alt="">
        </div>
        <div class="col-6 col-md-4 p-2">
          <img src="/assets/images/blog-rectangle.png" class="img-fluid" alt="">
        </div>
      </div>

    </div>
    <div class="row px-md-5 mt-5">
        <p class="fs-24 fw-semigras text-bleu text-center">dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
        </p>
        <p class="fs-24 fw-semigras text-bleu text-center">nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis
          Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat
        </p>
    </div>
  </div>

  <!--  -->
  <div class="row margin-row">

  </div>

  <!-- Footer -->
  <app-footer></app-footer>
</div>
