<div class="container-fluid">

  <!-- Header -->
  <app-header></app-header>

  <!--  -->
  <div class="row banner-row margin-row align-items-center justify-content-center px-md-5">
    <div class="">
      <p class="fs-48 fw-gras text-bleu text-center text-uppercase"> <span class="text-orange">Nos</span> Réalisations</p>
      <p class="fs-24 fw-600 text-bleu text-center">Découvrez l’excellence à travers nos réalisations. Chez EST, chaque projet est une démonstration de notre
        engagement à fournir des solutions innovantes et de haute qualité. Nos réalisations illustrent notre savoir-faire et
        notre capacité à répondre aux attentes les plus exigeantes. Explorez nos projets et voyez comment nous
        transformons les visions en réalité.
      </p>
    </div>
  </div>

  <!--  -->
  <!-- <div class="row justify-content-center px-md-5">
    <div class="row flex-wrap">
      <div class="col-6 col-md-4 p-2">
        <img src="/assets/images/realisations-rectangle-milieu.png" class="img-fluid" alt="">
      </div>
      <div class="col-6 col-md-4 p-2">
        <img src="/assets/images/realisations-rectangle-clair.png" class="img-fluid" alt="">
      </div>
      <div class="col-6 col-md-4 p-2">
        <img src="/assets/images/realisations-rectangle-fonce.png" class="img-fluid" alt="">
      </div>
      <div class="col-6 col-md-4 p-2">
        <img src="/assets/images/realisations-rectangle-fonce.png" class="img-fluid" alt="">
      </div>
      <div class="col-6 col-md-4 p-2">
        <img src="/assets/images/realisations-rectangle-milieu.png" class="img-fluid" alt="">
      </div>
      <div class="col-6 col-md-4 p-2">
        <img src="/assets/images/realisations-rectangle-clair.png" class="img-fluid" alt="">
      </div>
      <div class="col-6 col-md-4 p-2">
        <img src="/assets/images/realisations-rectangle-clair.png" class="img-fluid" alt="">
      </div>
      <div class="col-6 col-md-4 p-2">
        <img src="/assets/images/realisations-rectangle-fonce.png" class="img-fluid" alt="">
      </div>
      <div class="col-6 col-md-4 p-2">
        <img src="/assets/images/realisations-rectangle-milieu.png" class="img-fluid" alt="">
      </div>
    </div>
  </div> -->

  <div class="row margin-row justify-content-center" >
    <div class="row p-2">
      <div class="col-md-4 col-lg-5 col-xl-6">
        <h3 class="fs-36 fw-gras text-uppercase text-orange">Réalisation 1</h3>
        <p class="fs-20 text-bleu fw-600">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id fuga labore voluptates tenetur sed molestiae,
          dolor consequatur repellat, ullam ipsa autem maxime in quisquam aspernatur enim laboriosam porro ut pariatur!
        Incidunt quia iusto ducimus nam, voluptatum odit magnam
        voluptates voluptate at eveniet, perferendis error magni, labore alias? Incidunt voluptatibus numquam tempora cupiditate.</p>
      </div>
      <div class="col-md-8 col-lg-7 col-xl-6">
        <div id="carouselRealisations1" class="carousel slide h-100" data-bs-ride="carousel" data-bs-interval="2000">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselRealisations1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselRealisations1" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselRealisations1" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner h-100">
            <div class="carousel-item active h-100">
              <img src="assets/images/1712911445791.jpeg" class="d- block w-100 carouselRealisationImage h-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>E.S.T. TechnoBat</h5>
                <p>Some representative placeholder content for the first slide.</p>
              </div>
            </div>
            <div class="carousel-item h-100">
              <img src="assets/images/1712911445791.jpeg" class="d-block w-100 carouselRealisationImage h-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
              </div>
            </div>
            <div class="carousel-item h-100">
              <img src="assets/images/1712911445791.jpeg" class="d-block w-100 carouselRealisationImage h-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselRealisations1" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselRealisations1" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

    </div>
    <div class="row mt-4 p-2">
      <div class="col-md-4 col-lg-5 col-xl-6">
        <h3 class="fs-36 fw-gras text-uppercase text-orange">Réalisation 2</h3>
        <p class="fs-20 text-bleu fw-600">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id fuga labore voluptates tenetur sed molestiae,
          dolor consequatur repellat, ullam ipsa autem maxime in quisquam aspernatur enim laboriosam porro ut pariatur!
        Incidunt quia iusto ducimus nam, voluptatum odit magnam
        voluptates voluptate at eveniet, perferendis error magni, labore alias? Incidunt voluptatibus numquam tempora cupiditate.</p>
      </div>
      <div class="col-md-8 col-lg-7 col-xl-6">
        <div id="carouselRealisations1" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselRealisations1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselRealisations1" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselRealisations1" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/images/realisations-rectangle-fonce.png" class="d-block w-100 carouselRealisationImage" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/images/realisations-rectangle-fonce.png" class="d-block w-100 carouselRealisationImage" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/images/realisations-rectangle-fonce.png" class="d-block w-100 carouselRealisationImage" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselRealisations1" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselRealisations1" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

    </div>
  </div>

  <!--  -->
  <!-- <div class="row margin-row justify-content-center">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="realisations-rectangle-arrondi-orange p-4">
          <div class="d-flex align-items-center">
            <img src="/assets/images/realisations-cle.png" class="img-fluid me-3 largeur-10" alt="">
            &nbsp;
            <p class="fs-36 fw-gras text-bleu mb-0">Extension 1</p>
          </div>
          <p class="fs-20 text-bleu lh-1 mt-4">Découvrez Extension 1, un projet conçu pour maximiser l'espace et l'efficacité. Chaque détail a été soigneusement
            pensé pour offrir un environnement optimal, que ce soit pour le travail, la vie ou les loisirs. Profitez d'une solution sur
            mesure qui allie innovation et fonctionnalité.
          </p>
        </div>
      </div>
      <div class="col-md-5 mt-2 mt-md-0">
        <div class="realisations-rectangle-arrondi-bleu p-4">
          <div class="d-flex align-items-center">
            <img src="/assets/images/realisations-3batons.png" class="img-fluid me-3 largeur-10" alt="">
            &nbsp;
            <p class="fs-36 fw-gras text-bleu mb-0">Extension 2</p>
          </div>
          <p class="fs-20 text-bleu lh-1 mt-4">Avec Extension 2, nous redéfinissons l'expérience de l'espace. Ce projet intègre des éléments modernes et une
            conception avant-gardiste, offrant une flexibilité d'utilisation et une esthétique raffinée. Adapté aux besoins
            contemporains, Extension 2 est parfait pour ceux qui recherchent style et praticité.
          </p>
      </div>
    </div>
  </div> -->

  <!--  -->
  <!-- <div class="row margin-row taille-45 bg-bleu-fonce p-5">
    <div class="row p-5">
      <p class="fs-20 text-white text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
        <br>magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
        <br>nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
        <br>consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
      </p>
      <p class="fs-20 text-white text-center mt-5">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
        <br>laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullam-
        <br>corper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit
        <br>in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan
        <br>et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
        <br>Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
        <br>laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullam-
        <br>corper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div> -->

  <div class="row margin-row"></div>

  <!-- Footer -->
  <app-footer></app-footer>
</div>
