<div class="row hauteur-footer align-items-center justify-content-center bg-bleu py-5">
  <div class="col col-md-12 px-5">
    <div class="row">
      <p class="fs-60 fw-gras text-center text-white fst-italic text-uppercase">Commencer votre projet</p>
    </div>
    <div class="row">
      <form action="">
        <div class="row">
          <div class="col-md-3 my-2 my-md-0">
            <input type="text" name="name" class="form-control fs-20" placeholder="NOM">
          </div>
          <div class="col-md-3 my-2 my-md-0">
            <input type="text" name="email" class="form-control fs-20" placeholder="EMAIL">
          </div>
          <div class="col-md-3 my-2 my-md-0">
            <input type="text" name="phone" class="form-control fs-20" placeholder="TELEPHONE">
          </div>
          <div class="col-md-3 my-2 my-md-0">
            <button name="submit" type="submit" class="btn bg-orange fs-20 fw-bold w-100">ENVOYER DEMANDE</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row hauteur-footer bg-bleu-fonce justify-content-center">
  <div class="row py-5">
    <div class="col-md-5">
      <div class="d-flex align-items-center mb-3">
        <p class="fs-60 fw-gras fst-italic text-uppercase text-white mb-0 me-5" style="line-height: 1;">Sarre</p>
        <img src="assets/images/rectangle-incline.png" class="img-fluid" id="rectangle-incline" alt="">
      </div>
      <p class="fs-20 lh-1 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat expedita dicta ipsum minima tempora quam magni molestiae rerum. Assumenda reprehenderit blanditiis labore voluptatum. Earum ipsa praesentium alias quasi nulla distinctio!</p>
    </div>
    <div class="col-5 col-md-3">
      <div class="">
        <p class="fs-24 fw-gras text-white text-uppercase">Liens utiles</p>
        <a routerLink="" class="text-decoration-none fs-20 text-white lh-lg mb-0">- <span class="text-decoration-underline">Accueil</span></a><br>
        <a routerLink="/services" class="text-decoration-none fs-20 text-white lh-lg mb-0">- <span class="text-decoration-underline">Services</span></a><br>
        <a routerLink="/realisations" class="text-decoration-none fs-20 text-white lh-lg mb-0">- <span class="text-decoration-underline">Réalisations</span></a><br>
        <a routerLink="/a-propos" class="text-decoration-none fs-20 text-white lh-lg mb-0">- <span class="text-decoration-underline">A propos</span></a><br>
        <a routerLink="/blog" class="text-decoration-none fs-20  text-white lh-lg mb-0">- <span class="text-decoration-underline">Blog/Actualités</span></a><br>
        <a routerLink="/contact" class="text-decoration-none fs-20 text-white lh-lg mb-0">- <span class="text-decoration-underline">Contacts</span></a>
      </div>
    </div>
    <!-- <div class="d-none d-lg-block col-lg-2 px-3">
      <div class="border-col">
        <p class="fs-24 text-white lh-lg mb-0">Lorem ipsum</p>
        <p class="fs-14 text-white lh-lg mb-0">lorem ipsum</p>
        <p class="fs-14 text-white lh-lg mb-0">lorem ipsum</p>
        <p class="fs-14 text-white lh-lg mb-0">lorem ipsum</p>
        <p class="fs-14 text-white lh-lg mb-0">lorem ipsum</p>
        <p class="fs-14 text-white lh-lg mb-0">lorem ipsum</p>
        <p class="fs-14 text-white lh-lg mb-0">lorem ipsum</p>
        <p class="fs-14 text-white lh-lg mb-0">lorem ipsum</p>
      </div>
    </div> -->
    <div class="col-7 col-md-4 ps-2 ps-md-3 ps-xl-5 border-col">
      <div class="row ps-3">
        <p class="fs-24 fw-gras text-uppercase text-white">Contacts</p>
        <div class="d-flex align-items-center fs-20">
          <i class="fas fa-regular fa-phone text-white"></i>
          <span>&nbsp;&nbsp;</span>
          <span class="text-white">+221 33 821 08 64</span>
        </div>
        <div class="d-flex align-items-center  fs-20 my-3">
          <i class="fas fa-regular fa-phone text-white"></i>
          <span>&nbsp;&nbsp;</span>
          <span class="text-white">+221 33 821 08 64</span>
        </div>
        <div class="d-flex align-items-center  fs-20">
          <i class="fa-solid fa-envelope text-white"></i>
          <span>&nbsp;&nbsp;</span>
          <span class="text-white">stechnobat&#64;gmail.com</span>
        </div>
      </div>
      <div class="row mt-4 ps-3">
        <p class="fs-3 fw-gras text-white text-uppercase fs-24">Suivez-nous</p>
        <div class="d-flex">
          <!-- <i class="fa-brands fa-facebook-f text-orange me-2"></i>
          <span>&nbsp;</span>
          <i class="fas fa-brands fa-twitter text-orange mx-2"></i>
          <span>&nbsp;</span>
          <i class="fa-brands fa-google-plus text-orange mx-2"></i>
          <span>&nbsp;</span> -->
          <a class="text-white text-decoration-none fs-20" href="https://www.linkedin.com/company/entreprise-sarr-technobat/posts/?feedView=all" target="_blank">Linkedin : <i class="fa-brands fa-linkedin-in text-orange mx-2"></i></a>
          <!-- <span>&nbsp;</span>
          <i class="fa-brands fa-youtube text-orange ms-2"></i> -->
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <p class="text-white text-center fs-18">Copyright &copy; EST - 2024</p>
  </div>
</div>
