<div class="container-fluid">

  <!-- Header -->
  <app-header></app-header>

  <!-- Slide -->
  <div class="row">
    <div id="carouselExampleFade" class="carousel slide carousel-fade p-0" data-bs-ride="carousel" data-bs-interval="1000">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="position-relative">
            <img src="assets/images/slide-accueil-1.png" class="img-fluid d-block w-100  hauteur-100" alt="...">
            <div class="fond-noir"></div>
          </div>
          <div class="carousel-caption w-75" id="description-carousel">
            <p class="text-start fs-80 lh-1 mb-0 ms-2">ENTREPRISE <br> SARRE TECHNOBAT</p>
            <p class="sous-titre-carousel text-start fs-48 fw-600 text-orange mb-0 ms-2">Bâtir le futur, par devoir et passion</p>
            <p class="text-start fs-24">Réinventez vos projets de construction avec des solutions intelligentes et innovantes</p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="position-relative">
            <img src="assets/images/slide-accueil-2.png" class="img-fluid d-block w-100 hauteur-100" alt="...">
            <div class="fond-noir"></div>
          </div>
          <div class="carousel-caption w-75" id="description-carousel">
            <p class="text-start fs-80 lh-1 mb-0 ms-2">ENTREPRISE <br> SARRE TECHNOBAT</p>
            <p class="sous-titre-carousel text-start fs-48 fw-600 text-orange mb-0 ms-2">Bâtir le futur, par devoir et passion</p>
            <p class="text-start fs-24">Réinventez vos projets de construction avec des solutions intelligentes et innovantes</p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="position-relative">
            <img src="assets/images/slide-accueil-3.png" class="img-fluid d-block w-100 hauteur-100" alt="...">
            <div class="fond-noir"></div>
          </div>
          <div class="carousel-caption w-75" id="description-carousel">
            <p class="text-start fs-80 lh-1 mb-0 ms-2">ENTREPRISE <br> SARRE TECHNOBAT</p>
            <p class="sous-titre-carousel text-start fs-48 fw-600 text-orange mb-0 ms-2">Bâtir le futur, par devoir et passion</p>
            <p class="text-start fs-24">Réinventez vos projets de construction avec des solutions intelligentes et innovantes</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <img class="fleche-carousel" src="assets/images/fleche-gauche.png" alt="Previous">
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <img class="fleche-carousel" src="assets/images/fleche-droite.png" alt="Next">
        <span class="visually-hidden">Next</span>
      </button>
      <div class="message-container">
        <img src="assets/images/message.png" alt="message-icon" class="img-fluid">
      </div>
    </div>
  </div>

  <!-- Bienvenue chez EST -->
  <div class="row margin-row">
    <div class="col-md-4">
      <div class="d-flex align-items-center h-100">
        <img src="assets/images/logo-couleur.png" alt="" class="img-fluid w-100 mt-4">
      </div>
    </div>
    <div class="col-md-8">
      <div class="me-3">
        <div class="row mt-4">
          <img src="assets/images/ap.png" alt="" class="img-fluid guillemet w-25">
        </div>
        <div class="row mt-4">
          <h2 class="fs-36 fw-gras fst-italic text-bleu lh-base">E.S.T. est une entreprise générale sénégalaise qui excelle dans le bâtiment tous
            corps d'état, les travaux publics et la promotion immobilière.</h2>
        </div>
        <div class="row mt-2">
          <p class="fs-20 fw-600 text-bleu">Nous avons pour
            mission la satisfaction de nos clients ainsi que la contribution au développement de
            l’Afrique par devoir et passion. Dotée de solides références et d'une équipe qui
            bénéficie d'une expérience de plus de 20 ans, nous avons bâti le culte de
            l'excellence que nous érigeons en standard afin de développer des valeurs
            synonymes de rigueur, d'efficience et de performance.</p>
        </div>
        <div class="row justify-content-end">
          <div class="w-50 me-5">
            <a routerLink="/a-propos" class="btn bg-bleu text-white texte-en-savoir-plus fs-24">EN SAVOIR PLUS</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Batiment intelligent -->
  <div class="row  margin-row px-md-4">
    <div class="col-md-5 d-flex align-items-center order-2 order-md-1">
      <div class="d-block mt-3 mt-md-0">
        <h2 class="fs-36 fw-gras text-bleu">Qu'est-ce qu'un bâtiment intelligent ?</h2>
        <p class="fs-20 fw-600 text-bleu">Un bâtiment intelligent est bien plus qu'une simple structure. C'est une fusion harmonieuse de systèmes et de
          technologies de pointe conçus pour surveiller, contrôler et optimiser en continu les performances
          opérationnelles. Imaginez un espace qui s'adapte à vos besoins, maximise l'efficacité énergétique et garantit
          un confort optimal pour ses occupants. Voilà la promesse d'un bâtiment intelligent.</p>
      </div>
    </div>
    <div class="col-md-7 order-1 order-md-2">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="image-container">
          <img src="assets/images/image-accueil-2.png" alt="" class="img-fluid image-superpose-1">
          <img src="assets/images/rectangle-orange.png" alt="" class="img-fluid d-none d-md-block image-superpose-2">
        </div>
      </div>
    </div>
  </div>
  <div class="row px-md-4">
    <h2 class="fs-36 fw-gras text-bleu">La méthodologie BIM</h2>
    <p class="fs-20 fw-600 text-bleu">BIM (Building Information Modeling) ou Modélisation des Informations du Bâtiment pour transformer notre
          manière de construire. Cette technologie avant-gardiste nous permet de visualiser virtuellement chaque détail
          avant la construction, assurant une précision inégalée et une collaboration fluide entre tous les intervenants.
          Avec le BIM, nous promettons non seulement de réduire les coûts et les délais, mais aussi de réaliser des
          projets qui étaient autrefois considérés comme impossibles. Rejoignez-nous pour bâtir l'avenir où vos rêves
          architecturaux prennent vie avec une efficacité et une créativité sans précédent.</p>
  </div>

  <!-- Statistiques -->
  <div class="row justify-content-center margin-row">
    <div class="col-md-10">
      <div class="row justify-content-center">
          <p class="fs-80 fw-gras text-orange text-center"><i>E.S.T.</i> EN CHIFFRES</p>

      </div>
      <!-- <div class="row justify-content-center">
        <div class="col-4 col-md-3">
          <p class="fs-80 fw-gras fst-italic text-bleu text-center line-height-05 counter">32</p>
          <p class="fs-24 fw-500 fst-italic text-orange text-center">Partenaires</p>
        </div>
        <div class="col-4 col-md-3">
          <p class="fs-80 fw-gras fst-italic text-bleu text-center line-height-05 counter">+20</p>
          <p class="fs-24 fw-500 fst-italic text-orange text-center">Années d'experience</p>
        </div>
        <div class="col-4 col-md-3">
          <p class="fs-80 fw-gras fst-italic text-bleu text-center line-height-05 counter">+75</p>
          <p class="fs-24 fw-500 fst-italic text-orange text-center">Projets réalisés</p>
        </div>
      </div> -->
      <div class="row justify-content-center">
        <img src="assets/images/IMAGE-1.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>

  <!-- Avantages -->
  <div class="row margin-row justify-content-center">
    <div class="row">
      <p class="fs-60 fw-900 text-orange text-center text-uppercase">NOS VALEURS</p>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <div class="row justify-content-center">
          <div class="col-6 col-md-2 mb-4 mb-md-0">
            <div class="item-avantage">
              <div class="icone-cercle">
                  <img src="assets/images/ampoule.png" alt="Innovation Icon" class="img-fluid image-cercle">
              </div>
              <p class="fs-24 text-black fw-bold text-center text-uppercase">Qualité et performance</p>
              <p class="fs-16 text-center">Notre engagement envers la qualité se reflète dans chaque aspect de la
                construction, des matériaux utilisés à la finition des projets.</p>
            </div>
          </div>
          <div class="col-6 col-md-2 px-md-0 mb-4 mb-md-0">
            <div class="item-avantage-milieu h-100">
              <div class="item-avantage">
                <div class="icone-cercle">
                    <img src="assets/images/ok.png" alt="Innovation Icon" class="img-fluid image-cercle">
                </div>
                <p class="fs-24 text-black fw-bold text-center text-uppercase">ENGAGEMENT</p>
                <p class="fs-16 text-center">Nous nous efforçons de dépasser les attentes de nos clients, plaçant leur satisfaction
                  au cœur de notre démarche.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 px-md-0 my-md-5 mb-4 mb-md-0">
            <div class="item-avantage">
              <div class="icone-cercle" id="item-grand">
                  <img src="assets/images/horloge.png" alt="Innovation Icon" class="img-fluid image-cercle-grand">
              </div>
              <p class="fs-24 text-black fw-bold text-center text-uppercase">INNOVATION</p>
              <p class="fs-16 text-center">Nous cherchons constamment à intégrer de nouvelles technologies, méthodes de
                construction et solutions durables pour améliorer l’efficacité et la durabilité de nos projets.</p>
            </div>
          </div>
          <div class="col-6 col-md-2 px-md-0 mb-4 mb-md-0">
            <div class="item-avantage-milieu h-100">
              <div class="item-avantage">
                <div class="icone-cercle">
                    <img src="assets/images/homme3.png" alt="Innovation Icon" class="img-fluid image-cercle">
                </div>
                <p class="fs-24 text-black fw-bold text-center text-uppercase">RESPONSABILITÉ</p>
                <p class="fs-16 text-center">Nous assumons pleinement notre rôle dans la réussite des projets, garantissant un
                  travail rigoureux et fiable. </p>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-2 mb-4 mb-md-0">
            <div class="item-avantage">
              <div class="icone-cercle">
                  <img src="assets/images/messages2.png" alt="Innovation Icon" class="img-fluid image-cercle">
              </div>
              <p class="fs-24 text-black fw-bold text-center text-uppercase">PASSION</p>
              <p class="fs-16 text-center">Lorem ipsum dolor sit amet, consectetur sadipscing elitr, sed diam nonumy eirmod</p>
            </div>
          </div>
        </div>
        </div>
      </div>

  </div>

  <!-- Ils nous ont fait confiance -->
  <div class="row margin-row justify-content-center align-items-center">
    <div class="col-md-5 col-xl-3">
      <p class="text-bleu fs-48 text-uppercase fw-bolder mb-0 lh-1" id="IlsNousOntFaitConfiance">Ils nous ont  <br><span class="fs-36" style="letter-spacing: 1px;"> fait <span class="text-orange">confiance</span></span></p>
    </div>
    <div class="col-md-7 col-xl-7 mt-4 mt-md-0">
      <div class="d-flex justify-content-center px-0 px-md-5">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="assets/images/partenaires/1.jpg" class="img-fluid" alt="Image 1"></div>
            <div class="swiper-slide"><img src="assets/images/partenaires/2.jpg" class="img-fluid" alt="Image 2"></div>
            <div class="swiper-slide"><img src="assets/images/partenaires/3.jpg" class="img-fluid" alt="Image 3"></div>
            <div class="swiper-slide"><img src="assets/images/partenaires/4.jpg" class="img-fluid" alt="Image 4"></div>
            <div class="swiper-slide"><img src="assets/images/partenaires/5.jpg" class="img-fluid" alt="Image 5"></div>
            <div class="swiper-slide"><img src="assets/images/partenaires/6.jpg" class="img-fluid" alt="Image 6"></div>
            <div class="swiper-slide"><img src="assets/images/partenaires/7.jpg" class="img-fluid" alt="Image 7"></div>
            <div class="swiper-slide"><img src="assets/images/partenaires/8.jpg" class="img-fluid" alt="Image 8"></div>
            <div class="swiper-slide"><img src="assets/images/partenaires/9.jpg" class="img-fluid" alt="Image 9"></div>
            <div class="swiper-slide"><img src="assets/images/partenaires/10.jpg" class="img-fluid" alt="Image 10"></div>
            <div class="swiper-slide"><img src="assets/images/partenaires/11.jpg" class="img-fluid" alt="Image 11"></div>
            <div class="swiper-slide"><img src="assets/images/partenaires/12.jpg" class="img-fluid" alt="Image 12"></div>
            <div class="swiper-slide"><img src="assets/images/partenaires/13.jpg" class="img-fluid" alt="Image 13"></div>
            <div class="swiper-slide"><img src="assets/images/partenaires/14.jpg" class="img-fluid" alt="Image 14"></div>
            <div class="swiper-slide"><img src="assets/images/partenaires/15.jpg" class="img-fluid" alt="Image 15"></div>
            <div class="swiper-slide"><img src="assets/images/partenaires/16.jpg" class="img-fluid" alt="Image 16"></div>

          </div>

          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>

          <!-- Add Navigation -->
          <!-- <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div> -->
        </div>
      </div>
    </div>
  </div>

  <div class="row margin-row">

  </div>

  <!-- Footer -->
  <app-footer></app-footer>

</div>


